<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to getyouridenticon.com!</title>
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="user-info">
        <h1>Get your personal avatar!</h1>
        <div class="formUserInput">
            <form action="input">
                <label>ID number, email or password</label>
                <input type="text" id="userInput">
            </form>
            <button type="button" onclick="getUserInfo()">Get Avatar!</button>
        </div>
    </div>
</body>
</html>